<form action="/cars" method="post">
  <label for="makeModel">Add a new car model:</label>
  <input id="makeModel" name="makeModel" type="text">
  <label for="price">Car's price:</label>
  <input id="price" name="price" type="number">
  <label for="miles">Car's mileage:</label>
  <input id="miles" name="miles" type="number">
  <label for="message">Production year/message:</label>
  <input id="message" name="message" type="text">
  <button type="submit">Submit</button>
</form>