<form action="/result" method="post">
  <label for="maxPrice">Enter your buying maximum price:</label>
  <input id="maxPrice" name="maxPrice" type="number">
  <label for="maxMiles">Enter your desired maximum mileage:</label>
  <input id="maxMiles" name="maxMiles" type="number">
  <button type="submit">Submit</button>
</form>