@using CarDealership.Models;
@{
  Layout = "_Layout";
}

<h1>Car Dealership</h1>
@if (Model.Count == 0)
{
  <p>There are no cars in the list</p>
}
@foreach (Car car in Model)
{
  <p>1. Car's Model: @car.MakeModel</p>
  <p>2. Car Price: @car.Price</p>
  <p>3. Car Miles: @car.Miles</p>
  <p>4. Production Year: @car.Message</p>
}

<a href="/cars/new">Add a new item.</a>
<a href="/filter">Apply car price filter.</a>