<html lang="en">
<head>
  <title>Car Dealership</title>
</head>
<body>
  <h1>Car Dealership</h1>

  <p>1. Car Model: @Model.MakeModel;</p>
  <p>2. Car Price: @Model.Price;</p>
  <p>3. Car Miles: @Model.Miles;</p>
  <p>4. Production Year: @Model.Message</p>
  
</body>
</html>